{% extends 'base.html' %}
{% block title %} {{ title_name }} {% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/verification/metrologs_control/css/create.css">

<div class="create-page container px-3">
  <h1 class="text-center mb-5">{{ title_name }}</h1>

  <div class="back-btn-wrapper text-center my-3">
    <a href="/verification/?company_id={{company_id}}" class="btn btn-home fw-bold">
      🏠 На главную
    </a>
  </div>
  <div class="create-form-wrapper">
    <h2 class="form-title mb-4 text-center">Условия поверки</h2>
    <form id="add-entry-form" method="post">
      <div class="row g-3 rounded-section">
        <div class="col-md-6">
          <h4 class="text-center mb-3">До поверки</h4>
          <div class="rounded-section">
            <label class="form-label">Температура воды, ℃</label>
            <input type="number" name="before_water_temperature" class="form-control mb-2" step="0.00001">

            <label class="form-label">Температура окружающей среды, ℃</label>
            <input type="number" name="before_air_temperature" class="form-control mb-2" step="0.00001">

            <label class="form-label">Влажность окружающей среды, %</label>
            <input type="number" name="before_humdity" class="form-control mb-2" step="0.00001">

            <label class="form-label">Атмосферное давление, кПа</label>
            <input type="number" name="before_pressure" class="form-control" step="0.00001">
          </div>
        </div>

        <div class="col-md-6">
          <h4 class="text-center mb-3">После поверки</h4>
          <div class="rounded-section">
            <label class="form-label">Температура воды, ℃</label>
            <input type="number" name="after_water_temperature" class="form-control mb-2" step="0.00001">

            <label class="form-label">Температура окружающей среды, ℃</label>
            <input type="number" name="after_air_temperature" class="form-control mb-2" step="0.00001">

            <label class="form-label">Влажность окружающей среды, %</label>
            <input type="number" name="after_humdity" class="form-control mb-2" step="0.00001">

            <label class="form-label">Атмосферное давление, кПа</label>
            <input type="number" name="after_pressure" class="form-control" step="0.00001">
          </div>
        </div>
      </div>

      <div class="rounded-section text-center">
        <label for="use_opt" class="form-label me-2">Использовать оптосчитыватель</label>
        <select id="use_opt" name="use_opt" class="form-select w-auto mx-auto" onchange="toggleFields()">
          <option value="True">Да</option>
          <option value="False">Нет</option>
        </select>
      </div>

      {% include 'metrologs_control/q_sections.html' %}

      <div class="valid-conclusion">
        <h3>Заключение: счетчик воды годен к дальнейшей эксплуатации согласно описанию типа</h3>
      </div>

      <div class="invalid-conclusion" style="display: none;">
        <h3 id="invalid-conclusion-text">

        </h3>
      </div>

      <div class="third-invalid-conclusion" style="display: none;">
        <h3>Заключение: средство измерений признано непригодным, по причине: Относительная погрешность превышает
          допустимые значения п 2.7.3</h3>
      </div>

      <input type="hidden" name="high_error_rate" value="false">

      <div class="form-actions">
        <button type="submit" class="btn btn-submit">✒️ Подписать</button>
      </div>
    </form>
  </div>
</div>

<script>
  window.companyId = {{ company_id | default (None) | tojson | safe }};
  window.reasonType = {{ reason.type | default (None) | tojson | safe }};
  window.reasonFullName = {{ reason.full_name | default (None) | tojson | safe }};
  window.verificationEntryId = {{ verification_entry_id | default (None) | tojson | safe }};
</script>

<script src="/static/verification/metrologs_control/js/create.js"></script>
{% endblock %}