{% extends 'base.html' %}

{% set is_create = (view_type == 'create') %}
{% block title %}
  {{ last_name|capitalize }} {{ name|capitalize }} {{ patronymic|capitalize }} |
  {% if is_create %}Добавление{% else %}Редактирование{% endif %} модификации СИ
{% endblock %}

{% block content %}
  <h1 class="fs-xl d-flex flex-column align-items-center mb-4">

    {% if company_image %}
      <div class="photo mb-3">
        <img src="data:image/jpeg;base64,{{ company_image }}"
             alt="Изображение компании: {{ company_name }}">
      </div>
    {% endif %}
    <div class="btn-group mb-3">
      <a href="/companies/si-modifications?company_id={{company_id}}"
          class="btn btn-outline-secondary label-text fw-bold"
        style="border-width: 3px;">🔙 Вернуться назад</a>
      <a href="/companies/company?company_id={{company_id}}"
          class="btn btn-outline-dark label-text fw-bold"
        style="border-width: 3px;">🏠 На главную</a>
    </div>
    {% if is_create %}Добавление{% else %}Редактирование{% endif %} модификации СИ
  </h1>

  <div class="card p-4 mb-5">
    <form
      id="si-modification-form"
      method="{% if is_create %}POST{% else %}PUT{% endif %}"
      action="
      {% if is_create %}
        /companies/api/si-modifications/create?company_id={{company_id}}
      {% else %}
        /companies/api/si-modifications/update?company_id={{company_id}}&modification_id={{modification.id}}
      {% endif %}">

      <div class="mb-3">
        <label for="modification_name" class="form-label label-text"><b>Название модификации СИ</b></label>
        <input type="text"
               id="modification_name"
               name="modification_name"
               class="form-control input-text text-center"
               value="{{ modification.modification_name if not is_create else '' }}"
               required>
      </div>

      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-outline-success label-text fw-bold"
        style="border-width: 3px;">
          ✅ Сохранить
        </button>
      </div>
    </form>
  </div>
  <script>
    window.companyId = {{ company_id }};
    window.isCreate = {{ is_create|tojson }};
    {% if not is_create %}
    window.modificationId = {{ modification.id }};
    {% endif %}
  </script>
  <script type="module" src="/static/company/si_modifications/js/update_or_create.js"></script>
{% endblock %}
